/*******************
DEFAULT - MOBILE CSS
*******************/

/*** BODY ***/
body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 300;
}

/*** HEADER ***/
header {
	background: rgba(0, 0, 0, 0.85);
	padding: 0.5em;
}
header .logo {
	width: 80px;   /* Scaled down logo by 50% for */
	height: 80px;  /* retina display optimization */
}
.menu-icon {
	color: #FFF;
	font-size: 3em;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	cursor: pointer;
}
nav {
	background: rgba(0, 0, 0, 0.80);
	padding: 1em;
	border-top: solid 1px rgba(136,134,134,0.94);
	display: none;
}
nav li a {
	text-decoration: none;
	color: #DBDBDB;
	font-size: 1.2em;
	font-weight: 200;
	display: block;
	padding: 0.5em 0;
	margin-bottom: 0.5em;
	-moz-transition: ease-in-out color 0.3s;
	-webkit-transition: ease-in-out color 0.3s;
	-o-transition: ease-in-out color 0.3s;
	-ms-transition: ease-in-out color 0.3s;
	transition: ease-in-out color 0.3s;
}
nav li a:hover {
	color: #FFF;
}

/*** LANDING AREA ***/
.landing-area .todd-left {
	width: 50%;
	float: left;
	position: relative;
}
.landing-area .todd-right {
	width: 50%;
	float: right;
	position: relative;
}
.landing-area img {
	width: 100%;
	display: block;
}
.landing-area h1 {
	font-size: 1.2em;
	font-weight: 500;
	text-transform: uppercase;
	position: absolute;
	bottom: 2em;
	cursor: pointer;
}
.landing-area .todd-left h1 {left: 0.5em;}
.landing-area .todd-right h1 {right: 0.5em;}

/*** ABOUT ME ***/
.about-me .description {
	background: rgba(46, 185, 113, 1.0);
	color: #FFF;
	padding: 2em;
	text-align: center;
}
.about-me .description h2 {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 0.7em;
}
.about-me .description p {
	font-size: 1.1em;
}
.about-me .description p a {
	color: #FFF;
	text-decoration: none;
	border-bottom: solid 5px #FFF;
}
.about-me .description p a:hover {
	border-bottom: none;
}
.about-me .wrapper {
	padding: 1.5em;
	text-align: center;
}
.about-me .wrapper .box {
	margin-bottom: 3em;
}
.about-me .wrapper .box i {
    font-size: 9em;
    color: rgba(46, 185, 113, 1.0);
    text-shadow: 1px 1px 2px rgba(13, 63, 25, 1);
}
.about-me .wrapper .box h3 {
	color: rgba(0, 0, 0, 0.85);
	font-size: 1.5em;
	font-weight: 500;
	padding: 0.7em;
}
.about-me .wrapper .box p {
	color: #787878;
	line-height: 1.2em;
}

/*** BLOG ***/
.blog {background: rgba(46, 185, 113, 0.70);}
.blog .description {
	color: rgba(0, 0, 0, 0.85);
	padding: 2em;
	text-align: center;
}
.blog .description h2 {
	font-size: 1.5em;
	font-weight: 500;
}
.blog .project {background: #777;}
.blog .project li {list-style-type: none;}
.blog .project img {
    background: #FFF;
    width: 50%;
    margin: 3em 0;
    margin-left: 23%;
    margin-right: 23%;
    padding: 0.5em;
}

/*** FOOTER ***/
footer .newsletter {
	background: rgba(0, 0, 0, 0.75);
	padding: 1em;
}
footer .newsletter h4 {
	color: #FFF;
	font-size: 1.2em;
	text-align: center;
	padding: 0.6em;
}
footer .newsletter form {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
footer .newsletter .left {
	display: block;
}
footer .newsletter .left input {
	color: #787878;
	width: 99.5%;
	height: 2.5em;
	margin-top: 0.9em;
	border: none;
}
footer .newsletter .right {
	display: block;
}
footer .newsletter .right .submit-button {
	background: rgba(46, 185, 113, 1);
	color: #FFF;
	padding: 1em;
	font-size: 0.9em;
	font-weight: 600;
	letter-spacing: 2px;
    width: 100%;
	margin-top: 1.2em;
	border: none;
	cursor: pointer;
}
footer .newsletter .right .submit-button:hover {
	background: rgba(46, 185, 113, 0.8);
}
footer .wrapper {
	background: rgba(0, 0, 0, 0.85);
	padding: 2em;
}
footer .wrapper h4 {
	color: #FFF;
	font-size: 1.1em;
	margin-bottom: 0.7em;
}
footer .wrapper ul li {
	margin-bottom: 0.7em;
}
footer .wrapper ul li a {
	text-decoration: none;
	color: #DBDBDB;
	-moz-transition: ease-in-out color 0.3s;
	-webkit-transition: ease-in-out color 0.3s;
	-o-transition: ease-in-out color 0.3s;
	-ms-transition: ease-in-out color 0.3s;
	transition: ease-in-out color 0.3s;
}
footer .wrapper ul li a:hover {
	color: #FFF;
}
#facebook:hover {color: rgba(59, 89, 152, 1);}
#twitter:hover {color: rgba(0, 172, 237, 1);}
#instagram:hover {color: rgba(81, 127, 164, 1);}
#google-plus:hover {color: rgba(221, 75, 57, 1);}
#linkedin:hover {color: rgba(0, 123, 182, 1);}

footer .wrapper .footer-left {
	margin-bottom: 3em;
}
footer .footer-bottom {
	background: rgba(0, 0, 0, 0.95);
	color: #666;
	padding: 2em;
	text-align: center;
}
/*** ABOUT PAGE / OTHER PAGE ELEMENTS***/
.main-content {padding: 1.5em;}
section {margin-bottom: 2.5em;}
.main-content h1 {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 0.7em;
}
.main-content h2 {
	font-size: 1.3em;
	font-weight: 500;
	margin-bottom: 0.7em;
}
.main-content img {
	width: 90%;
	padding: 1em;
	border: solid 1px #DEDEDE;
}
.main-content a {
    color: rgba(67, 159, 250, 0.8);
    text-decoration: none;
    -moz-transition: ease-in-out color 0.3s;
    -webkit-transition: ease-in-out color 0.3s;
    -o-transition: ease-in-out color 0.3s;
    -ms-transition: ease-in-out color 0.3s;
    transition: ease-in-out color 0.3s;
}
.main-content a:hover {color: rgba(67, 159, 250, 1);}
.main-content .cta-button {
	background: rgba(46, 185, 113, 0.8);
	color: #FFF;
	padding: 1em;
	font-size: 0.9em;
	font-weight: 600;
	letter-spacing: 2px;
	width: 100%;
	margin-top: 1.2em;
	border: none;
	cursor: pointer;	
}
.main-content .cta-button:hover {
	background: rgba(46, 185, 113, 1);
}
.main-content p {
	color: #222;
	margin: 1em 0;
	text-align: justify;
	line-height: 1.5em;
}
.main-content ul li {
	color: #222;
	margin-left: 2.5em;
	margin-bottom: 0.5em;
	list-style-type: disc;
}
.main-content ul li ul {
	margin-top: 0.5em;
}
.main-content ul li ul li {
	list-style-type: circle;
}
/*** WORK PAGE ***/
.main-content .projects li {list-style-type: none;}
.main-content .projects .project-icon {
	border: none;
}
/*** BLOG PAGE ***/
.main-content figure {
    background: rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}
.main-content figure img {
    padding: 0;
    margin-bottom: 1em;
    width: 100%;
    border: none;
}
.main-content figure figcaption {text-align: center;}
.main-content figure figcaption strong {
    font-weight: 400;
}
.main-content figure figcaption .posted {
    display: block;
    opacity: 0.8;
    font-size: 0.8em;
    padding: 1em 0;
}
.main-content .tweet-timeline .tweet {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 2em;
}
.main-content .tweet-timeline .tweet .tweet-icon {
    width: 55px;
    padding: 0;
    margin: 1em;
    border: solid 1px rgba(0, 0, 0, 0.2);
}
.main-content .tweet-timeline .tweet .text {
    margin: -4.5em 1em 0 6em;
}
.main-content .tweet-timeline .tweet .date {
    margin: 1em 1em 1em 6em;
}
/*** CONTACT PAGE ***/
.main-content form {margin: 2em 0;}
.main-content form fieldset {margin-bottom: 1.5em;}
.main-content form legend {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
}
.main-content form .form-item {
    margin-bottom: 2em;
}
.main-content form .form-item label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 400;
}
.main-content form .form-item .optional {
    color: rgba(0, 0, 0, 0.50);
    font-size: 0.8em;
    font-weight: 300;
    padding-left: 0.5em;
}
.main-content form .form-item input[type="text"],
.main-content form .form-item input[type="email"],
.main-content form .form-item input[type="tel"],
.main-content form .form-item input[type="url"]{
    color: #787878;
    width: 99%;
    height: 2.5em;
    border: solid 1px #787878;
}
.main-content form .form-item select {
    background: #FFF;
    width: 100%;
    height: 2.5em;
    border: solid 1px #787878; 
}
.main-content form .form-item textarea {
    width: 99%;
    height: 10em;
}
.main-content form .form-item .radio-label {
    font-weight: 300;
}
.main-content form .submit-button {
    background: rgba(46, 185, 113, 1);
    color: #FFF;
    padding: 1em;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 1.2em;
    border: none;
    cursor: pointer;
}
.main-content form .submit-button:hover {
    background: rgba(46, 185, 113, 0.8);
}
.main-content .no-bullet li {
    list-style-type: none;
    margin: 1em 0;
}
.main-content .other-contact ul {
    margin: 2em 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.main-content .other-contact ul li {
    display: inline;
    margin: 0;
    padding: 0;
}
.main-content .other-contact ul li.social a {font-size: 3em;}
.main-content .other-contact li a#facebook {color: rgba(59, 89, 152, 0.7);}
.main-content .other-contact li a#facebook:hover {color: rgba(59, 89, 152, 1);}
.main-content .other-contact li a#twitter {color: rgba(0, 172, 237, 0.7);}
.main-content .other-contact li a#twitter:hover {color: rgba(0, 172, 237, 1);}
.main-content .other-contact li a#instagram {color: rgba(81, 127, 164, 0.7);}
.main-content .other-contact li a#instagram:hover {color: rgba(81, 127, 164, 1);}
.main-content .other-contact li a#google-plus {color: rgba(221, 75, 57, 0.7);}
.main-content .other-contact li a#google-plus:hover {color: rgba(221, 75, 57, 1);}
.main-content .other-contact li a#linkedin {color: rgba(0, 123, 182, 0.7);}
.main-content .other-contact li a#linkedin:hover {color: rgba(0, 123, 182, 1);}