.back-to-top {
    background: $back-to-top;
    color: $white;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.9;
    display: none;
    z-index: 900;

    &:hover {
        background: darken($back-to-top, 5%);
    }

    i {
        font-size: 4em;
        padding: 0.1em 0.2em;
    }
}
