li.badge {
    list-style-type: none;
    background: $primary;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    padding: 1em;
    margin: 0;
    border-radius: 20px;
    display: inline-block;
}
