// Typography
$typography: "Helvetica", "Arial", sans-serif;

// Header
$black: #262626;
$nav: #333333;
$nav-text: #DBDBDB;
$nav-border: solid 1px #838181;
$white: #FFFFFF;

// About Me
$primary: #2EB971;
$icon: #2AAD68;
$icon-shadow: #0D3F19;
$button: #2EB971;

// Blog
$primary-light: #6CCE9B;
$light-grey: #777777;
$grey: #404040;

// Footer
$input-text: #787878;
$blacker: #0C0C0C;
$footer-text: #666666;

// Back to Top
$back-to-top: #2AA766;

// Other Page Elements
$img-frame: #DEDEDE;
$link: #77B4FB;
$text: #222222;
$primary-flipped: #C7DEC9;
$primary-text-flipped: #455346;
$figure: #E6E6E6;
$figure-border: #C4C4C4;
$input: #787878;
$select: url(../img/select.png);
$select-retina: url(../img/select-retina.png);
$error: #FF0000;

// Transitions
$color-transition: ease-in-out color 0.3s;

// Social Media
$facebook: #3B5998;
$twitter: #55ACEE;
$instagram: #833AB4;
$github: #171516;
$linkedin: #0077B5;
